{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="col-xl-4 col-md-6">
        <div class="card card-event">
            <div class="card-block" id="event_log">
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <h5 class="m-0">Upcoming Event</h5>
                    </div>
                    <div class="col-auto">
                        <label class="label theme-bg2 text-white f-14 f-w-400 float-right">34%</label>
                    </div>
                </div>
                <h2 class="mt-3 f-w-300">45<sub class="text-muted f-14">Competitors</sub></h2>
                <h6 class="text-muted mt-4 mb-0">You can participate in event </h6>
                <i class="fab fa-angellist text-c-purple f-50"></i>
            </div>
        </div>

</div>
    
</div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function(event) {
        var socket = io();
        socket.on('connect', function() {
            socket.emit('message', {data: 'I\'m connected!'});
        });

        socket.on('get_sensor_data', function(data) {
            document.querySelector("#event_log>h6").innerHTML = data
        });
        var cur = 0;
        setInterval(function() {
            socket.emit('get_sensor_data',cur);
            cur++;
        }, 2000)
    });        
</script>

{% endblock javascripts %}
