{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/Main/css/Main.css">

<div class="container">
        
    <div class="row justify-content-around">
        
        {% set plot_topic = "esp32_1" %}
        {% include 'plot_sensor.html' %}
        {% set plot_topic = "esp32_2" %}
        {% include 'plot_sensor.html' %}        
        
    </div>
        
        <div class="container">
            {% include 'card_sensors.html' %}
        </div>
</div>

<script src="/static/Main/js/Main.js"></script>

{% endblock %}